.idea/
.curseclient
export.yml

logs/
mods/
saves/
options.txt
realms_persistence.json
usercache.json
usernamecache.json
resourcepacks/
.mixin.out/
shaderpacks/
hs_err_pid*.log
servers.dat

config/roughlyenoughitems/
local/ftbchunks/data/
config/oculus.properties
config/rubidium-options.json
